/*contact page*/
.navbar {
  min-height: 80px;
  border: solid;
}

.main-image {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
  background-image: url("https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  opacity: 1.0;
  font-family: 'Bangers', cursive;
  border: solid;
}

h1 {
  text-align: center;
  color: white;
  background-color: grey;
  margin-bottom: 15px;
}

.form-group {
  margin: 30px;
  padding: 10px;
  float: 40px;

  color: blue;


}

footer {

  bottom: 0;
  width: 100%;
  height: 60px;
  /* Set the fixed height of the footer here */
  line-height: 60px;
  /* Vertically center the text there */
  text-align: center;

}

.card-body {
  text-align: center;
  padding: 5px;
  border: 20px;
}

.containerCard{
  margin: auto;
  width: 40%;
  padding: 5px;
  
}
#contactForm{
  margin: auto;
  width: 80%;
  padding-left: 60px;
  padding-right: 20px;
}
/*index page*/
.navbar {
  min-height: 80px;
  border: solid;
}

h1 {
  text-align: center;
  color: white;
  background-color: grey;
  margin-bottom: 15px;
}

p,
div {
  text-align: center;
  
}
#mainArea{

  width: 50%;
  padding: 100px;
  border: black;
  border-style: solid;
  background-color: white;
  
  
}

.main-image {
  border: whitesmoke solid 5px;
  width: 100%;
  height: 600px;
  background-image: url("https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 2.0;
  font-family: 'Bangers', cursive;
  border: solid;
  margin-bottom: 25px;
}


#pictureArea {
  width: 25rem;
  height: 25rem;
  background-color: black;
  margin-top:-100px;
  max-width: 100%;
  max-height: 100%;
}
.card-text{
  color: blue;
}

footer {

  bottom: 0;
  width: 100%;
  height: 60px;
  /* Set the fixed height of the footer here */
  line-height: 60px;
  /* Vertically center the text there */
  text-align: center;

}
/*Portfolio page*/
.navbar {
  min-height: 80px;
  border: solid;
}

.main-image {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
  background-image: url("https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  opacity: 2.0;
  font-family: 'Bangers', cursive;
  border: solid;
}

h1 {
  text-align: center;
  color: white;
  background-color:grey;
  margin-bottom: 15px;
}
.card{
  text-align: center;
  margin: 45px;
}
footer {

  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  text-align: center;
  
}